main .landing .redLeft .title, .content .mainContent .nyheter .title {
  margin-top: -1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  color: #2f2e41;
  font-weight: lighter;
  font-size: 2.1rem;
  padding-top: 1rem;
}

main .landing .illustration .img img, .content .mainContent .nyheter .newsList li a img, .content .mainContent .calendar .calendarItems li img {
  height: 200px;
  width: 100%;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.content .mainContent .nyheter .newsList li, .content .mainContent .calendar .calendarItems li {
  background-color: #fff;
  width: 87%;
  margin: 2rem auto;
  list-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 600px) and (max-width: 959px) {
  .content .mainContent .nyheter .newsList li, .content .mainContent .calendar .calendarItems li {
    width: 80%;
  }
}

@media (min-width: 960px) {
  .content .mainContent .nyheter .newsList li, .content .mainContent .calendar .calendarItems li {
    width: 95%;
    height: 320px;
    margin: 1rem auto;
  }
}

.content .mainContent .nyheter .btnHolder {
  text-align: center;
  margin: 3rem auto;
  width: 90%;
}

.content .mainContent .nyheter .btnHolder a {
  background-color: #d33c2a;
  color: #fff;
  border: none;
  margin: 2rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Piazzolla', serif;
}

a {
  text-decoration: none;
}

main {
  margin-bottom: 4rem;
}

@media (min-width: 960px) {
  main {
    background-color: #d33c2a;
    height: 88vh;
    margin-bottom: 0;
  }
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d33c2a;
  margin-bottom: -1rem;
}

@media (min-width: 960px) {
  main header {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: -0.1rem;
    height: 100px;
  }
}

main header .logo {
  margin: 0.5rem;
  width: 40px;
  height: 40px;
}

@media (min-width: 960px) {
  main header .logo {
    width: 50px;
    height: 50px;
  }
}

main header nav .rightNav {
  margin-top: 1.2rem;
  margin-right: 0.5rem;
}

@media (min-width: 600px) and (max-width: 959px) {
  main header nav .rightNav {
    margin-top: 1rem;
  }
}

@media (min-width: 960px) {
  main header nav .rightNav {
    margin-top: 1.3rem;
  }
}

main header nav .rightNav .search {
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 15px;
  padding-left: 1rem;
}

@media (min-width: 600px) and (max-width: 959px) {
  main header nav .rightNav .search {
    width: 250px;
    height: 30px;
  }
}

@media (min-width: 960px) {
  main header nav .rightNav .search {
    width: 300px;
    height: 30px;
  }
}

main header nav .rightNav .topBtn {
  background-color: #d33c2a;
  color: #fff;
  border: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}

main header nav .rightNav .topBtn:hover {
  background-color: #fff;
  color: #38100a;
}

@media (min-width: 960px) {
  main .landing {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

main .landing .redLeft {
  background-color: #d33c2a;
  color: #fff;
}

main .landing .redLeft .title {
  margin: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 4rem;
}

@media (min-width: 960px) {
  main .landing .redLeft .title {
    margin: 2rem;
    font-size: 5rem;
  }
}

main .landing .redLeft p {
  margin-top: 1rem;
  font-size: 1.5rem;
  padding-right: 2rem;
  padding-left: 5rem;
  text-align: right;
}

@media (min-width: 600px) and (max-width: 959px) {
  main .landing .redLeft p {
    padding-left: 30%;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 960px) {
  main .landing .redLeft p {
    font-size: 1.7rem;
  }
}

main .landing .redLeft .iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

@media (min-width: 600px) and (max-width: 959px) {
  main .landing .redLeft .iconList {
    margin-top: 3rem;
  }
}

main .landing .redLeft .iconList li {
  list-style: none;
  text-align: center;
}

main .landing .redLeft .iconList li a {
  color: #fff;
}

main .landing .redLeft .iconList li a i {
  width: 100%;
  font-size: 1.4rem;
}

@media (min-width: 600px) and (max-width: 959px) {
  main .landing .redLeft .iconList li a i {
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  main .landing .redLeft .iconList li a i {
    font-size: 2.1rem;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  main .landing .redLeft .iconList li {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  main .landing .redLeft .iconList li {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }
}

main .landing .illustration {
  text-align: center;
}

@media (min-width: 960px) {
  main .landing .illustration {
    padding: 1rem;
  }
}

main .landing .illustration .redText {
  padding-top: 3rem;
  height: 170px;
  background-color: #d33c2a;
}

@media (min-width: 960px) {
  main .landing .illustration .redText {
    display: none;
  }
}

main .landing .illustration .redText h1 {
  background-color: #f5edec;
  width: 85%;
  margin: 1rem auto;
  height: 106px;
  color: #d33c2a;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 2rem;
}

@media (min-width: 600px) and (max-width: 959px) {
  main .landing .illustration .redText h1 {
    font-size: 2rem;
    padding: 1.5rem;
  }
}

main .landing .illustration .img img {
  height: 32vh;
  width: 430px;
  margin-top: 0.5rem;
}

@media (min-width: 960px) {
  main .landing .illustration .img img {
    width: 90%;
    margin-top: 5rem;
    width: 400px;
    height: 35vh;
  }
}

.content {
  background-color: #f6f8fa;
  padding-bottom: 10px;
}

@media (min-width: 960px) {
  .content .mainContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
  }
}

.content .mainContent .nyheter .title {
  padding-top: 2rem;
}

@media (min-width: 960px) {
  .content .mainContent .nyheter .title {
    font-size: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .content .mainContent .nyheter .newsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.content .mainContent .nyheter .newsList li a {
  color: black;
}

@media (min-width: 960px) {
  .content .mainContent .nyheter .newsList li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
  }
}

.content .mainContent .nyheter .newsList li a .articleContent .articleHeader {
  font-size: 1.6rem;
}

.content .mainContent .nyheter .newsList li a .articleContent .articleBody {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.content .mainContent .nyheter .newsList li a .articleContent .articleDetail {
  font-size: 1rem;
  margin: 1rem 0;
  color: #38100a;
}

@media (min-width: 960px) {
  .content .mainContent .nyheter .newsList li a .articleContent {
    margin: 1rem;
  }
}

@media (min-width: 960px) {
  .content .mainContent .nyheter .newsList li a img {
    height: 200px;
    width: 30%;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .content .mainContent .calendar .calendarItems {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.content .mainContent .calendar .calendarItems li .redBadge {
  background-color: #d33c2a;
  color: #fff;
  width: 60px;
  height: 40px;
  padding: 0.5rem;
  position: relative;
  top: -13rem;
  left: -2rem;
}

.content .mainContent .calendar .calendarItems li .itemHeader {
  margin-top: -3rem;
  margin-bottom: 0.5rem;
}

footer {
  background-color: #d33c2a;
  color: #fff;
  padding: 1rem;
}

footer a {
  color: #fff;
}

@media (min-width: 960px) {
  footer .footerContent {
    max-width: 1200px;
    margin: 0 auto;
  }
}

footer .footerContent .footerHeader .logo {
  margin: 0.5rem;
  width: 40px;
  height: 40px;
}

footer .footerContent .footerHeader h1 {
  position: relative;
  top: -3.25rem;
  left: 4rem;
  font-size: 2.3rem;
}

footer .footerContent .footerTop {
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContent .footerTop ul {
  padding: 0.5rem;
}

footer .footerContent .footerTop ul li {
  list-style: none;
  margin: 0.5rem;
  font-size: 1.1rem;
}

@media (min-width: 960px) {
  footer .footerContent .footerTop ul li {
    font-size: 1.2rem;
  }
}

footer .footerContent .footerTop ul li a:hover {
  font-weight: bold;
  font-size: 110%;
}

footer .footerContent .footerTop .footerIcon i {
  margin: 0.5rem;
}
/*# sourceMappingURL=home.css.map */