$primaryColor: #d33c2a;
$secondaryColor: #fff;

//? Breakpoints

// @mixin extraLarge {
// 	@media (min-width: 1920px) {
// 		@content;
// 	}
// }
// @mixin large {
// 	@media (min-width: 1280px) and (max-width: 1919px) {
// 		@content;
// 	}
// }
@mixin medium {
	@media (min-width: 960px) {
		@content;
	}
}

@mixin small {
	@media (min-width: 600px) and (max-width: 959px) {
		@content;
	}
}

%sectionTitle {
	margin-top: -1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 3rem;
	color: #2f2e41;
	font-weight: lighter;
	font-size: 2.1rem;
	padding-top: 1rem;
}

%imgItem {
	height: 200px;
	width: 100%;
	border-radius: 0.3rem;
	margin: 1rem 0;
}

%listItem {
	background-color: #fff;
	width: 87%;
	margin: 2rem auto;
	list-style: none;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;

	@include small {
		width: 80%;
	}

	@include medium {
		width: 95%;
		height: 320px;
		margin: 1rem auto;
	}
}

%btnHolder {
	text-align: center;
	margin: 3rem auto;
	width: 90%;

	a {
		background-color: #d33c2a;
		color: #fff;
		border: none;
		margin: 2rem;
		border-radius: 0.3rem;
		font-size: 1.1rem;
		padding: 1rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	font-family: 'Piazzolla', serif;
}

a {
	text-decoration: none;
}

main {
	margin-bottom: 4rem;

	@include medium {
		background-color: $primaryColor;
		height: 88vh;
		margin-bottom: 0;
	}

	header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		background-color: #d33c2a;
		margin-bottom: -1rem;
		@include medium {
			max-width: 1200px;
			margin: 0 auto;
			margin-bottom: -0.1rem;
			height: 100px;
		}

		.logo {
			margin: 0.5rem;
			width: 40px;
			height: 40px;

			@include medium {
				width: 50px;
				height: 50px;
			}
		}
		nav {
			.rightNav {
				margin-top: 1.2rem;
				margin-right: 0.5rem;

				@include small {
					margin-top: 1rem;
				}

				@include medium {
					margin-top: 1.3rem;
				}
				.search {
					height: 25px;
					width: 200px;
					border: none;
					border-radius: 15px;
					padding-left: 1rem;

					@include small {
						width: 250px;
						height: 30px;
					}

					@include medium {
						width: 300px;
						height: 30px;
					}
				}

				.topBtn {
					background-color: $primaryColor;
					color: $secondaryColor;
					border: none;
					margin-left: 0.5rem;
					margin-right: 0.5rem;
					border-radius: 0.2rem;
					font-size: 1.2rem;
					padding: 0.5rem;

					&:hover {
						background-color: $secondaryColor;
						color: #38100a;
					}
				}
			}
		}
	}

	.landing {
		@include medium {
			max-width: 1200px;
			margin: 0 auto;
			margin-top: 1rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.redLeft {
			background-color: $primaryColor;
			color: #fff;

			.title {
				@extend %sectionTitle;
				margin: 1rem;
				margin-bottom: 0.5rem;
				color: $secondaryColor;
				font-size: 4rem;

				@include medium {
					margin: 2rem;
					font-size: 5rem;
				}
			}

			p {
				margin-top: 1rem;
				font-size: 1.5rem;
				padding-right: 2rem;
				padding-left: 5rem;
				text-align: right;

				@include small {
					padding-left: 30%;
					font-size: 1.5rem;
					margin-top: 1rem;
				}

				@include medium {
					font-size: 1.7rem;
				}
			}

			.iconList {
				display: flex;
				justify-content: space-between;
				margin-top: 4rem;

				@include small {
					margin-top: 3rem;
				}
				li {
					list-style: none;
					text-align: center;

					a {
						color: $secondaryColor;

						i {
							width: 100%;
							font-size: 1.4rem;
							@include small {
								font-size: 2rem;
							}

							@include medium {
								font-size: 2.1rem;
							}
						}
					}

					@include small {
						font-size: 1rem;
					}

					@include medium {
						margin-top: 1.5rem;
						font-size: 1.3rem;
					}
				}
			}
		}

		.illustration {
			text-align: center;
			@include medium {
				padding: 1rem;
			}

			.redText {
				padding-top: 3rem;
				height: 170px;
				background-color: $primaryColor;
				@include medium {
					display: none;
				}
				h1 {
					background-color: #f5edec;
					width: 85%;
					margin: 1rem auto;
					height: 106px;
					color: #d33c2a;
					border-top-left-radius: 1rem;
					border-top-right-radius: 1rem;
					padding: 1rem;
					padding-top: 2rem;
					font-size: 2rem;

					@include small {
						font-size: 2rem;
						padding: 1.5rem;
					}
				}
			}

			.img {
				img {
					@extend %imgItem;
					height: 32vh;
					width: 430px;
					margin-top: 0.5rem;
					@include medium {
						width: 90%;
						margin-top: 5rem;
						width: 400px;
						height: 35vh;
					}
				}
			}
		}
	}
}
.content {
	background-color: #f6f8fa;
	padding-bottom: 10px;
	.mainContent {
		@include medium {
			display: grid;
			grid-template-columns: 2fr 1fr;
			max-width: 1200px;
			margin: 0 auto;
			padding-top: 3rem;
		}

		.nyheter {
			.title {
				@extend %sectionTitle;
				padding-top: 2rem;
				@include medium {
					font-size: 2rem;
				}
			}
			.newsList {
				@include small {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}

				li {
					@extend %listItem;

					a {
						color: black;

						@include medium {
							display: flex;
							padding-top: 2rem;
						}
						.articleContent {
							.articleHeader {
								font-size: 1.6rem;
							}
							.articleBody {
								margin-top: 1rem;
								font-size: 1.2rem;
							}

							.articleDetail {
								font-size: 1rem;
								margin: 1rem 0;
								color: #38100a;
							}

							@include medium {
								margin: 1rem;
							}
						}
						img {
							@extend %imgItem;

							@include medium {
								height: 200px;
								width: 30%;
							}
						}
					}
				}
			}

			.btnHolder {
				@extend %btnHolder;
			}
		}

		.calendar {
			.calendarItems {
				@include small {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}

				li {
					@extend %listItem;

					img {
						@extend %imgItem;
					}

					.redBadge {
						background-color: #d33c2a;
						color: #fff;
						width: 60px;
						height: 40px;
						padding: 0.5rem;
						position: relative;
						top: -13rem;
						left: -2rem;
					}

					.itemHeader {
						margin-top: -3rem;
						margin-bottom: 0.5rem;
					}
				}
			}
		}
	}
}

footer {
	background-color: #d33c2a;
	color: #fff;
	padding: 1rem;

	a {
		color: $secondaryColor;
	}
	.footerContent {
		@include medium {
			max-width: 1200px;
			margin: 0 auto;
		}
		.footerHeader {
			.logo {
				margin: 0.5rem;
				width: 40px;
				height: 40px;
			}

			h1 {
				position: relative;
				top: -3.25rem;
				left: 4rem;
				font-size: 2.3rem;
			}
		}

		.footerTop {
			margin-top: -3rem;
			display: flex;
			justify-content: space-between;

			ul {
				padding: 0.5rem;

				li {
					list-style: none;
					margin: 0.5rem;
					font-size: 1.1rem;

					@include medium {
						font-size: 1.2rem;
					}

					a:hover {
						font-weight: bold;
						font-size: 110%;
					}
				}
			}

			.footerIcon {
				i {
					margin: 0.5rem;
				}
			}
		}
	}
}
